import(nlme)
import(rpart)
import(survival)
import(magic)
import(survminer)
export(LongCART)
export(StabCont)
export(StabCat)
export(SurvCART)
export(plot.SurvCART)
export(text.SurvCART)
export(KMPlot.SurvCART)
export(StabCont.surv)
export(StabCat.surv)
export(ProfilePlot.LongCART)
export(succ_ia)
export(succ_ia_betabinom_one)
export(succ_ia_betabinom_two)
export(PoS)
importFrom("graphics", "plot", "text", "plot.new", "par", "legend", "points")
importFrom("stats", "model.matrix", "na.omit", "p.adjust", "pchisq", "vcov", "logLik")
importFrom("stats", "dnorm", "pnorm", "binom.test", "fisher.test", "prop.test", "qnorm")
importFrom("stats", "median")
importFrom("utils", "capture.output")
importFrom("Formula", "Formula", "as.Formula")
importFrom("grDevices", "dev.off")
S3method(plot, SurvCART)
S3method(text, SurvCART)
S3method(plot, LongCART)
S3method(text, LongCART)


