importFrom(Formula, Formula, as.Formula)
import(nlme)
import(rpart)
import(survival)
import(magic)
import(survminer)
export(LongCART)
export(StabCont)
export(StabCat)
export(SurvCART)
export(plot.SurvCART)
export(text.SurvCART)
export(KMPlot.SurvCART)
export(StabCont.surv)
export(StabCat.surv)
importFrom("graphics", "plot", "text")
importFrom("stats", "model.matrix", "na.omit", "p.adjust", "pchisq", "vcov", "logLik")
importFrom("stats", "dnorm", "pnorm")
importFrom("utils", "capture.output")
S3method(plot, SurvCART)
S3method(text, SurvCART)


